h1 {
  color: #009;
  text-align: center;
}

header {
  width: 450px;
  height: 50px;
  background-color: #b22222;
}

table {
  margin: 0.3em;
  width: 450px;
}

th {
  padding: 0.2em;
}

td {
  border: 1px solid #900;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 150px;
  height: 20px;
}

.trHeader {
  color: #900;
  text-decoration: underline;
}

footer {
  width: 450px;
  height: 50px;
  color: white;
  background-color: #040f52;
}

#cell1 {
  background-color: #ff5101;
}
#cell2 {
  background-color: #01ff4d;
}
#cell3 {
  background-color: #3801ff;
}
#cell4 {
  background-color: #ff01b3;
}
#cell9 {
  background-color: #eeff01;
}
#cell10 {
  background-color: #0178ff;
}
#cell11 {
  background-color: #01d9ff;
}
#cell12 {
  background-color: #eb80eb;
}

:root {
  --a1: url("../images/picture1.png");
}

#cell6,
#cell7,
#cell8,
#cell13,
#cell14,
#cell15,
#cell16 {
  content: var(--a1);
  width: 50px;
  height: 20px;
}
